.follow {
    background-color: cadetblue;
    font-size: 1.2em;
    align-items: center;
    text-align: left;
    padding: 0.4em;
    border-style:double;
    border-radius: 20px;
    border-color: aliceblue;
    margin: 1em;

}
.f_container {
    margin: 1em;
}