
.userProfileContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 1.2em;
    align-items: center;
    text-align: left;
    padding: 1em;
    margin-top: 5%;

    @media screen and (max-width: 360px) {
        width: 100%;
    }
    

    &__profileHeader {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        // background-color: antiquewhite;
        &--firstRow {
            display: flex;
            flex-direction: row;
            // background-color: aqua;

            
        }
        &--nav {
            margin-top: 10%;
            color: #fff;
            align-items: center;
            text-decoration:inherit;
            text-decoration-line: none;
            display: flex;
            flex-direction: row;
            background-color: aquamarine;
        }

    }
    &__profileFooter {
        background-color: aqua;
    }

    &__button {
        background-color: cadetblue;
        border: unset;
        border-radius: 20px;
        margin-left: 1.5em;
        
        padding: 1em;
    }
    
}
