.follow {
    background-color: cadetblue;
    font-size: 1.2em;
    align-items: center;
    text-align: left;
    width: 100%;
    padding: 0.1em;
    display: flex;
    flex-direction: row;
    // border-style:hidden;
    border-radius: 20px;
    border-color: aliceblue;
    margin: 1em;

}