$font : 1.2em;
.leftPane {
    display: flex;
    padding: 5%;
    width: 30%;
    flex-direction: column;
    background-color: rgba(23, 63, 100, 0.48);
    color: #fff;
    text-align: left;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 22px;
    min-height: 100vh;
    @media screen and (max-width: 515px) {
        width: 100%;
        font-size: 2em
    }
    &__container{
        
        &--leftNav{
            margin-top: 10%;
            color: #fff;
            align-items: center;
            text-decoration:inherit;
            text-decoration-line: none;
            display: flex;
            flex-direction: row;
    
        }

        &--icon{
            padding: 5px;
        }

        &--button{
            background-color: cadetblue;
            border: unset;
            border-radius: 20px;
            margin-top: 20%;
            width: 80%;
            padding: 5%;
            cursor: pointer;
            &:hover {
                background-color: rgb(28, 28, 67);
                color: #fff;
            }
        }
    }
}

